body{
    text-align: center;
    background-color: #011627;
    color:white;
    border: 60px solid #2EC4B6;
    border-top:0px;
    margin:0px;
}

p{
  padding-left:20%;
  padding-right:20%;
  padding-top:5%;
}

h2{
  padding-bottom:5%;
}

#sub{
  border-radius: 25px;
  background-color:#FF9F1C;
  width: 150px;
  height:80px;
  font-size:1.2em; 
  margin-bottom:5px;
}

.userinput{
  margin-bottom:5px;
  font-size:1.5em;
}